

form {
	display: block;
	max-width: 800px;
	padding: 20px;
	border: 1px solid black;
	margin-top: 20px;
}

form a {
	display: block;
	text-decoration: none;
	color: inherit;
/*	border: 1px solid red;*/
}

form h1 + h2 {
	margin-top: 8px;
}

form .field { 
	display: flex;
	flex-direction:column;
}

form .field input {
	max-width: 100px;
	margin-top: 5px;
}



form h2 + .field, div + div, button {
	margin-top: 20px;
}


form output {
	display: block;
	max-width: 800px;
	background-color: lightgray;
	border: 1px solid black;
	margin-top: 20px;
	padding: 10px;
}

form output:empty {
	display: none;
}


