@import "meyer-reset.css";
@import "setup.css";
@import "typography.css";
@import "forms.css";



/*DEVELOPER STYLES*/

/*body * {
	border: 1px solid hsl(200, 100%, 80%);
	padding: 2px;
}

body inner-column {
	border: 1px solid hsl(360, 100%, 80%);
	padding: 2px;
}
*/


/*SITE STRUCTURE*/

body{
/*	padding: 20px;*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;

}

main {
	margin-top: 10px;
	flex-grow: 1;
}


inner-column {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-directon: row;
}


div h2{
	margin-top: 20px;
/*	border: 2px solid green;*/
}


/*HOME*/

.home {
	allign-items: center;
}
/*HEADER*/

site-header nav ul{
	display: flex;
	flex-direction: row;
	
}

site-header nav ul li {
	padding: 0 20px 0 0;
}

site-header {
	display: block;
	position: sticky;
	top: 0;
	background-color: var(--paper);
	margin-top: 20px;
/*	border: 2px solid red;*/
}

.forms-header {
	display: block;
/*	position: sticky;
	top: 0;*/
	background-color: var(--neutral);
/*	margin-top: 20px;*/
/*	border: 2px solid red;*/
}

forms-header nav ul{
	display: flex;
	flex-direction: row;
}

forms-header nav ul li {
	padding: 20px 20px 20px 0px;
}



/*FOOTER*/

footer{
	background-color: var(--neutral);
	padding: 100px;
	color: var(--ink);
}

/*HOME PAGE*/

intro-cards h2 {
	margin-top: 25px;
}

intro-cards li h2+p{
	margin-top: 20px;
}

/*FORMS*/

/*forms-card {
	display: flex;
	gap: 20px;
	color: green;
}*/




