@import "meyer-reset.css";
@import "typography.css";
@import "forms.css";


/*DEVELOPER STYLES*/

/*body * {
	border: 1px solid hsl(200, 100%, 80%);
	padding: 2px;
}

body inner-column {
	border: 1px solid hsl(360, 100%, 80%);
	padding: 2px;
}
*/


/*SITE STRUCTURE*/

body{
/*	padding: 20px;*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	margin-top: 30px;
	flex-grow: 1;
}


inner-column {
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-directon: row;
}


div h2{
	margin-top: 20px;
/*	border: 2px solid green;*/
}

/*HEADER*/

site-header {
	display: block;
	position: sticky;
	top: 0;
	background-color: var(--paper);
/*	border: 2px solid red;*/

}


/*PAGES*/




/*FOOTER*/

footer{
	background-color: lightgray;
	padding: 80px;
	color: white;
}

/*footer inner-column{
	justify-content: center;

}*/



/*HOME PAGE*/

intro-cards h2 {
	margin-top: 25px;
}

intro-cards li h2+p{
	margin-top: 20px;
}

/*LAYOUT GARDEN*/

/*	ARTICLE GRID*/	

article-grid{
	display: flex;
	flex-direction: column;
}

article-grid *{
	border: 2px solid black;
}

article-grid h1, p, a{
	padding: 10px;
}

article-grid .article-intro{
	display: flex;
	flex-direction: column;
/*	gap: 10px;*/
	padding: 10px;
}

article-grid .article-list{
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 10px;
}

article-grid .act{
	display: inline-block;
	padding: 5px;
	color: white;
	background-color: black;
}


/*}
.cards-list {
	display: flex;

}*/

/*.card {
	display: flex;
	flex-direction: column;*/


/*	border: 2px solid green;*/
}

/* "break-point" 1 */
/*@media (min-width: 600px) { 
		intro-cards {
	display:flex;
	flex-directon; column;
}

intro-cards ul {
	display: flex;
	gap: 20px;*/
}
	}

	}
}
