/*TYPOGRAPHY*/

.loud-voice {
	font-size: 75px;
	font-family:'Eczar', serif;
	color: var(--color);
/*	letter-spacing: .125rem;*/
}

.attention-voice{
	font-family: 'Times New Roman', serif;	font-size: 30px;
	color: var(--ink);
}

.calm-voice {
	font-size: 20px;
	font-family: 'Times New Roman', serif;
}

.standard-voice {
	font-size: 16px;
	font-family: 'Times New Roman', serif;
}

.quiet-voice {
	font-size: 12px;
	font-family: 'Times New Roman', serif;
}


body {
	--ink: black;
	--paper: white;
	--alternate: #64001f;
	--highlight: #;
	--neutral: #E6E6E6;
}



/*p, li{
	margin-top: 10px;
	max-width: 73ch;
	line-height: 1.5rem;
	font-size: 1rem;
}

a:hover{
	color: var(--alternate);
	transition: color .2s;
}

p a { 
	display: inline-block;
	text-decoration: underline var(--highlight);
	color: inherit; 
	transition: color .2s;

}

li a {
	display: inline-block;
	text-decoration: underline var(--highlight);
	color: inherit;
	transition: color .2s;
	
}


nav li{
	display: inline-block;
	padding: 0px 10px 0px 0px;

}


h1 + ul, h3,{
	margin-top: 25px;
}*/


b{
	font-weight: bold;
}

em{
	font-style: italic;
}