@import "meyer-reset.css";
@import "setup.css"

 * {
	padding: 10px
}

/*typography*/

.loud-voice {
	font-size: 30px;
	font-family: 'Times New Roman', serif;
}

.attention-voice{
	font-family: 'Times New Roman', serif;
	font-size: 20px;
}

.calm-voice {
	font-size: 16px;
	font-family: 'Times New Roman', serif;
}


inner-column{
	display: block;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid gray;

}

body{
	display: flex;
  min-height: 100vh;
  flex-direction: column;
	padding: 10px;
}

header{
	border: 1px solid black;
	padding: 10px;
}

main{
	border: 2px solid black;
	flex: 1;
}

masthead{
	display: flex;
	flex-direction: column;
  justify-content: space-between;
	border: 1px solid black;
	padding: 10px;
}

masthead nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid black;
	padding: 10px;
}

masthead a{
	border: 1px solid black;
	padding: 10px;
}

/*diptych*/

diptych{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: 1px solid black;
	padding: 10px;
}

diptych .main-text{
	display: flex;
	gap:10px;
	flex-direction: column;
	border: 1px solid lime;
	padding: 10px;
}
diptych p{
	display: block;
	border: 1px solid black;
	padding: 10px;
	max-width: 70ch;
}

diptych h1{
	display: block;
	border: 1px solid black;
	padding: 10px;
	max-width: 70ch;
}


diptych picture{
	border: 1px solid black;
	padding: 10px;
}
diptych img{
	display: flex;
	max-width: 400px;
	padding: 10px;
	border: 1px solid black;
}

 diptych .words{
	border: 1px solid yellow;
	display: flex;
	flex-direction: column;
	background-color: orange;
}

/*call to action*/

action{
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid red;
	padding: 10px;
}

.action-head{
	border: 1px solid dodgerblue;
}

.action-text{
	border: 1px solid pink;
}

.action-link{
	border: 1px solid orange;
	background-color: ;
}

/*footer*/

footer{
	border: 1px solid black;
	padding: 10px;
}

.site-footer{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

footer h1{
	border: 1px solid black;
}

footer p{
	border: 1px solid black;
}

.site-map{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px;
}

.site-map *{
	border: 1px solid black;
}

footer .site-menu{
	display: flex;
	flex-direction: column;
	padding: 10px;

}

footer .user-menu{
	display: flex;
	flex-direction: column;
	padding: 10px;

}

footer .legal-things{
	display: flex;
	flex-direction: column;
	padding: 10px;

}

footer .social-things{
	display: flex;
	flex-direction: column;
	padding: 10px;

}

/*article grid*/

article-grid{
	display: flex;
	flex-direction: column;
	padding: 10px;
}

article-grid *{
	border: 2px solid black;
}

article-grid .article-intro{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

article-grid .article-list{
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 10px;
}






/* "break-point" 1 */
@media (min-width: 700px) {
	
	masthead{
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	border: 1px solid black;
	padding: 10px;
}

	diptych{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 10px;
	border: 1px solid black;
	padding: 10px;
}

action{
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid red;
	padding: 10px;

}

article-grid .article-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

/*not sure how to space these? they each have to be their own section?*/

.site-map{
	display: flex;
	flex-direction: row;
}
/*.site-things{
	display: flex;
	flex-direction: row;
}

.outside-things{
	display: flex;
	flex-direction: row;
}*/

}

/*break-point 2*/
@media (min-width: 1000px) {

article-grid .article-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

}

