
hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

hero .heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	max-width: 80ch;
}

hero .links {
	display: flex;
	flex-directon: row;
	gap: 30px;
}

hero .links a{
	border: 1px solid black;
	padding: 10px 25px;
}