main-container {
	display: grid;
	grid-template-columns: 1fr;
}

top-story {

	display: grid;
	grid-template-columns: 1fr;
}

top-grid {
	display: grid;
	grid-template-columns: 1fr;
/*	justify-content: start;*/
	gap: 10px;
}

top-grid graphic-diptych {
/*	display: flex;
	flex-direction: row-reverse;
	justify-self: start;
	align-items: space-between;
	border: 2px solid black;*/

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

top-grid graphic-diptych picture{
	aspect-ratio: 1/1;
	max-width: 100px;
}

top-story top-grid, graphic-diptych .content p {
	display: none;
}

top-grid graphic-diptych .content h2{
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.4;
	font-weight: 700;

}

@media (min-width: 500px) {

	main-container {
/*		border: 2px solid green;*/
	}

	top-story graphic-diptych .content p {
		display: unset;
	}

}


@media (min-width: 700px) {
	top-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px;
	}

	top-grid graphic-diptych {

		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
	}

	top-grid graphic-diptych .graphic picture {
		aspect-ratio: 3/2;
		max-width: 450px;
	}

}

@media (min-width: 950px) {
	main-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
	top-grid graphic-diptych {
		margin-top: 0px;
	}
}

@media (min-width: 1050px) {
	latest-stories {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}

	.latest {
		display: grid;
		grid-column-start: 2;
		grid-column-end: 4;
	}

	latest-stories graphic-diptych {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;

}

	latest-stories graphic-diptych picture {
		aspect-ratio: 1/1;
		max-width: 100px;

	}

	}
}

}
