@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	display: block;

	font-family: 'Average Sans', sans-serif;
	font-size: .7rem;
	line-height: 1.4;
	letter-spacing: 0.05em;



	padding: 1em 1em;
	color: var(--white);
	background-color: var(--color);
	min-width: 120px;
	text-align: center;
	text-transform: uppercase;

}

.button:hover {
	color: red;
}