html {
	--black: #111111;
	--white: #fef9f6;

	--neutral-stuffs: #f3eeef;

	--color: #003043;
	--highlight:#d4dfe7;

	--shadow: rgba(0, 0, 0, 0.3);

	--corners: 10px; /* or whatevers */

	--paper: var(--white);
	--ink: #003043;

	--standard: 1140px;
	--tight: 800px;

}

@media (prefers-color-scheme: dark) {
	html {
		--paper: #231a1a;
		--ink: #ffffe2;
	}
}
