
.site-header {
	display: flex;
	flex-direction: row;
	color: white;
	background-color: #242733;

}

mast-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
/*	border: 2px solid black;*/
}

.site-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
/*	border: 2px solid red;*/
}

.site-menu ul{
	display: flex;
	flex-direction: row;
	gap: 10px;
/*	border: 2px solid green;*/
}

.donate {
	background-color: #e73540;
}