/*article grid*/

article-grid{
	display: flex;
	flex-direction: column;
}

article-grid *{
	border: 2px solid black;
}

article-grid h1, p, a{
	padding: 10px;
}

article-grid .article-intro{
	display: flex;
	flex-direction: column;
/*	gap: 10px;*/
	padding: 10px;
}

article-grid .article-list{
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 10px;
}

article-grid .act{
	display: inline-block;
	padding: 5px;
	color: white;
	background-color: black;
}