	.top-stories {
		display: grid;
		gap: 15px;
	}

	.top-story {
		display: grid;
		border-bottom: 2px solid #eee;
	}

	.top-story graphic-diptych .content{
		margin-bottom: 10px;
	}


	.top-grid graphic-diptych{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;
		gap: 15px;
/*		border:2px solid green;*/
	}


	.top-stories .top-story graphic-diptych .content p{
		display:none;
	}


	.top-stories graphic-diptych .content h3+h2 {
		margin-top: 5px;
	}

	.top-grid graphic-diptych .content p{
		display: none;
	}
	
	.top-grid graphic-diptych .graphic picture{
		max-width: 100px;
		aspect-ratio: 1/1;
/*		border: 2px solid orange;*/

	}
@media(min-width: 400px){

	.top-stories .top-story graphic-diptych .content p{
		display:unset;
	}

}

@media(min-width: 600px){

	.top-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 15px;
	}

	.top-grid graphic-diptych{
		display: grid;
		gap: 15px;
/*		border:2px solid yellow;*/
	}

	.top-grid graphic-diptych .graphic picture{
		max-width: 400px;
		aspect-ratio: 3/2;
/*		border: 2px solid orange;*/

	}

	.top-grid .content > p {
		display: none;
	}
}


@media(min-width: 950px){

	.top-stories {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}

	.top-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 15px;
	}

	.top-grid .content > p {
		display: none;
	}
}


/*TYPOGRAPHY*/

	.top-story graphic-diptych h2{
		font-family: 'Inter', sans-serif;
		font-size: 2rem;
		font-weight: 700;
	}

	.top-story graphic-diptych p{
		font-family: 'Inter', sans-serif;
		font-size: 1rem;
		font-weight: 400;
	}

	.top-grid graphic-diptych h2{
		font-family: 'Inter', sans-serif;
		font-size: 1.35rem;
		font-weight: 700;
	}

	graphic-diptych .content p {
		line-height: 1.3
	}