@import "reset.css";
@import "setup.css";



body {
	background-color: ##d3d3d3;
	padding: 20px;
}

h1 { 
	font-size: 60px;
 }

 h2 {
 	font-size: 30px;
 }

.page-content {
	border: 1px dashed black;
}

cocktail-card {
	display: block;
	border: 1px solid gray;
	padding: 10px;
}

.cocktail + .cocktail {
	margin-top: 30px;
}

cocktail-card a {
	text-decoration: underline;
}