@import "reset.css";
@import "setup.css";



body {
	background-color: ##d3d3d3;
	padding: 20px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

inner-column {
	display: block;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
/*	border: 2px solid blue;*/
}

main {
	flex:1;

}

.page-content {
/*	border: 1px dashed black;*/
}

.detail p {
	margin-top: 15px;
}

/*typography*/

h1 { 
	font-size: 60px;
	font-family:'Eczar', serif;
	margin-top: 20px;
 }

 h2 {
 	font-size: 30px;
 }


/*cocktail cards*/

cocktail-card {
	display: block;
/*	flex-direction: column;
	align-items: flex-start;*/
	justify-content: center;
	border: 3px solid black;
	box-shadow: 5px 5px 5px #dcdcdc;
/*	border-radius: 20px;*/
	padding: 10px;
	max-width: 45ch;
}

.cocktail-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
}

/*.cocktail + .cocktail {
	margin-top: 30px;
}

cocktail-card a {
	text-decoration: underline;
	color: blue;
}

cocktail-card h2 + ul {
	margin-top: 5px;
}
*/
.garnish-color {
	color: #af01bb;
	 
}


/*navigation*/

nav {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	padding: 10px;
}

nav a {
	font-size: 1.3rem;
	text-decoration: underline;
}

nav a:hover {
	color: blue;
}

/*index*/

.front-page {
/*	font-family:'Eczar', serif;*/

}

form{
	padding: 20px;

}

field {
	display: block;
}

field :is(label) {
	display: block;
}

field + field {
	margin-top: 20px;
}

field + button {
	margin-top: 20px;
}

/*footer*/
.site-menu{
	border-bottom: 2px solid gray;
}

.footer {
	border-top: 2px solid gray;
	margin-top: 10px;
}