
call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10vh 0;
}

call-to-action .button {
	margin-top: 10px;
	color: var(--ink);
	background-color: var(--neutral-stuffs);
	border: 1px solid var(--ink);
	min-width: 200px;
	}

section.sign-up .button{
	margin-top: 10px;
	color: var(--ink);
	background-color: var(--neutral-stuffs);
	border: 1px solid var(--ink);
	min-width: 200px;

}

