.site-menu ul {
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 20px;
}

/*.page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid green;
}

.page-content + .front-page {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	border: 2px solid red;
}

.page-content, .about-page{
	display: flex;
	align-items: start;
	justify-content: start;
	border: 2px solid red }

@media (max-width: 600px) {
	.page-content {
		opacity: 10%;
	}


.page-content {
	display: grid;
	justify-content: start;
*/

html {
	--paper: #efefef;
	--ink: #222222;
}

body {
	background: var(--paper);
	color: var(--ink);
}


index-card {
	--paper: #d8fef0;
	--ink: #222222;

	background: var(--paper);
	color: var(--ink);
}


@media (prefers-color-scheme: dark) {
	html{
		--paper: #222222;
		--ink: #efefef;
	}

	index-card {
	--paper: #222222;
	--ink: #d8fef0;

}

}