/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */

body {
	-webkit-font-smoothing: antialiased; /* because Brian said to */
	font-family: 'Times New Roman',
}

.title-voice {
	font-family:'Eczar', serif;
	font-size: 150px;
	
}

.attention-voice{
	 serif;	font-size: 30px;
}

.calm-voice {
	font-size: 1.3rem ;
}

.standard-voice, p {
	font-size: 1rem;
}

.quiet-voice {
	font-size: .7rem;
}