
.site-header {
	display: flex;
	flex-direction: row;
	color: white;
	background-color: #242733;
	height: 500px;
}

mast-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
/*	border: 2px solid red;*/
}

.site-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
/*	border: 2px solid red;*/
}

.site-menu ul{
	display: flex;
	flex-direction: row;
	gap: 10px;
/*	border: 2px solid green;*/
}

.donate {
	background-color: #e73540;
}

mast-head a {
	font-family: 'Inter', sans-serif;
	font-size: .8rem;
	font-weight: 400;
}